@charset "UTF-8";

body{background-color: rgb(146, 121, 121); font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
}
h1{color: rgb(8, 230, 19); background-color: black;
text-align: center;
}
h2{color: rgb(9, 62, 235); background-color: black;}
p{color: aliceblue; text-align: justify;}

